<h3>Documentation</h3>
<ul>
    <% for(var i = 0; i < this.all_sorted.length; i++){ %>
        <%if( !(this.all_sorted[i].hide == true) ){%>
        <li><a href='../classes/<%= this.all_sorted[i].name %>.html'><%= this.all_sorted[i].name %></a></li>
        <%}%>
    <% } %>
</ul>