<div id='first'>first</div>
<div id='second'>second</div>
<div class="todo">Something</div>
<a>Element</a>
<div id='nested'>
    <div class='todo' id='second_todo'>todo</div>
    <div id='third'>second</div>
</div>