body {
	background:#FFFFFF none repeat scroll 0%;

	min-width:610px;
	padding:0pt;
	font-family: Verdana;
}

.documentation .code_caption pre, .documentation div.code_caption img {margin-bottom:0px;}
.highlight { background-color:#FFFFCC; }
.html_key { color:#7F3300; }
.plugins { list-style: none; }
.plugin a, .plugin { font-weight:bold; text-decoration:none;color:Blue; }
.plugin a:hover { text-decoration:underline; }


span.stress { text-decoration:underline; }
a.home_link { color:Blue;text-decoration:underline; }
.disclaimer { text-align:center;margin-bottom:0px;color:#666666;font-size:11px; }
.footnote { margin-bottom:0px;color:#666666;font-size:11px; }
.disclaimer a { color:blue; }


form, p, ol {font-size: 11pt; margin: 0px 40px 20px 40px; padding:0px;}
ol {margin-left: 60px;}
ol li {margin-bottom: 10px;}



h1 {
	margin:0px 0px 0px 40px; padding:0px;
	font-size: 40px;
	font-weight: normal;

	 
	line-height: 60px;}
	
	h1.normal {letter-spacing: 0px;}
	
h2  {margin:0px; margin-left: 40px;padding:0px; font-size: 8pt;font-weight: normal; color: #556f24;}
h2 a{color: #556f24; text-decoration: none;}
h2 a:hover {text-decoration: underline; color: blue;}




h5 {
	margin-top: 5px;
	margin-bottom: 10px;
}

pre.code_caption {
	margin-bottom:0px;
}

div.image img {
	margin-bottom: 0px;
}

div.image {
	margin-left:40px;
}

table.learn {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: white;
	margin:0px 40px 20px;
}
table.learn th {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	background-color: white;
}
table.learn td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	background-color: white;
}

.caption {
	font-size:9pt;
	font-family: "Arial Narrow", Arial;
	text-align: center;
	margin-bottom:10px;
}

.caption a {
	text-decoration: none;
	color: blue;
}
.caption a:hover {
	text-decoration: underline;
}

#examples {margin-top: 10px; margin-left: 40px;}
#examples a {
	text-decoration: none; font-size: 18px; display: block;  line-height: 17px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	padding-left: 60px;
	height: 40px;
	width:340px;
}


#examples a img {float:left; margin-right: 20px;}
#examples label {display: block; font-size: 12pt; margin-top: 5px; color: #bfbfbf}

ul {margin-left: 20px; margin-top: 10px;}
ul ul {margin-top: 0px; margin-bottom: 10px; font-size: 9pt;}

pre {margin-left: 40px; }
.comment, .console_output {color: green;}

.string_output {color:red;}
.bracket {font-size: 22px; width:20px;}
.string, #data div span  {color: Gray;}
.clear {clear:both;}
.key {color: #800080; }
.magic {background-color: #fff7d7;}
.console { color: blue;}
.this {color: rgb(0,0,192);}
span.error {background-color: Orange}


.article pre, .code, .api pre, .documentation pre { 
	border: solid 1px #D5E7B3; 
	margin: 10px 40px 10px 40px; 
	padding: 10px; background-image: url(../images/pattern.png);
}


pre.signiture {border: solid 1px #e7b3b3; padding: 0px 0px 0px 5px;}

.article p {margin-bottom: 10px; }
.article ol {margin-left: 60px;}
.article ol p, .article ol pre {margin-left: 0px; margin-top: 10px;}
.article {width: 600px;}

.navigation a {text-decoration: none;}
.navigation a:hover {text-decoration: underline;}

/*things added for demo */


.center {text-align: center;}


.api {background-image: url(../images/side_background.png); background-repeat: repeat-y;}
.left_side {float:left;width: 260px; margin-top: 20px;}


#content {text-align:left;}





p, ol {line-height: 13pt;margin-right: 40px;}

h1 {margin-left: 0px;margin-bottom: 10px;}
h1 label {font-family:"Helvetica Neue",Arial;font-size:40px; color: #8FBA3C;}

h2 {
	margin: 40px 40px 10px 0px;font-size: 19pt;color: #8FBA3C; border-bottom: solid 1px #e5f0cf;line-height: 20pt;padding-bottom:5px;
}
h3 {font-size: 12pt;font-weight: bolder;margin: 10px 0px 0px 00px; color: #556F24; letter-spacing: 1px;}

.attribute h3 {color: #6f2424;}



h1, h2,h3,h4 {font-family: "Helvetica Neue",Arial}
h4, .grayed {margin: 0px 0px 10px 40px; font-size: 12pt;color: #808080; line-height: 100%;}

pre {padding:5px;font-family:Monaco,Consolas,"Lucida Console",monospace;
font-size:92%;line-height: 13pt;
margin-right: 40px;
}






.param {margin-left:40px; margin-right:40px;line-height:12pt; font-size: 10pt;margin-bottom:10px;}
.param label {
color:#808080;
font-size:10pt;
margin:0px 0px 0px 0px;
font-weight: bold;

}
.param .option{margin-left:40px;}
.param .option label {font-size: 9pt;font-style: italic;font-weight: normal;}

.param .default label {color: #BB7711;}
span.default {color: #BB7711;}

.options {text-align: left;margin-left:40px;margin-right: 40px;line-height: 150%;
	
}
.options td {vertical-align: top; font-size: 10pt;padding:3px;border-bottom:1px solid #EEEEEE;line-height: 150%;}
.options th {
	font-family:"Helvetica Neue",Arial,sans-serif;border-bottom:1px solid #EEEEEE;font-size:70%;
	
}



.description {margin: 0px 0px 0px 40px;}


ul {font-size: 11pt;}

#shortcuts{
    background-color:#D5E7B3;
border:1px solid #E5F0CF;
line-height:120%;
margin-bottom:20px;
margin-left:40px;
margin-right:40px;
padding:5px;
}

#shortcuts a{
    border-bottom:1px solid #E5F0CF;
color:Blue;
font-size:9pt;
font-weight:bold;
text-decoration:none;
}

div.group {
    margin-left: 40px;
}